---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">This page is under construction and the list below is partial. You can browse my full list of research publications on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% assign journal_pubs = site.publications | where: "category", "manuscripts" %}
{% assign conf_pubs = site.publications | where: "category", "conferences" %}
{% assign workshop_pubs = site.publications | where: "category", "workshops" %}
{% assign book_chapters = site.publications | where: "category", "bookchapters" %}
{% assign tech_reports = site.publications | where: "category", "bookchapters" %}

<div class="wordwrap">Journal articles: {{ journal_pubs | size }}</div>
<div class="wordwrap">Conference papers: {{ conf_pubs | size }}</div>
<div class="wordwrap">Workshop papers: {{ workshop_pubs | size }}</div>
<div class="wordwrap">Book chapters: {{ book_chapters | size }}</div>
<div class="wordwrap">Technical reports: {{ tech_reports | size }}</div>

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



