<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

	<p>Office 4209, <a href="https://www.google.com/maps/place/Gilbert+Place/@37.2335318,-80.4239297,17z/data=!3m1!4b1!4m6!3m5!1s0x884d956fa905b68b:0xa379bb1404fff4dc!8m2!3d37.2335318!4d-80.4213494!16s%2Fg%2F11trxg8501?entry=ttu">Gilbert Place <img src="assets/images/GoogleMaps.png" style="max-width: 10%"></a></p>

	<p> phone: 1-540-231-4260 </p>

	<p> 
	<a href="https://www.linkedin.com/in/dimitrios-s-nikolopoulos-b36b038/"><img src="assets/images/LI-Logo.png" style="max-width: 20%"></a>
	<a href="https://scholar.google.com/citations?user=PkCuYUQAAAAJ&hl=en"><img src="assets/images/Google_Scholar_logo.png" style="max-width: 15%"></a>
	<a href="mailto:dsn@vt.edu"><img src="assets/images/mail.png" style="max-width: 15%"></a>
	<a href="https://virginiatech.zoom.us/my/dsniko"><img src="assets/images/zoom_logo.png" style="max-width: 15%"></a>  </p>

	<p>Mailing Address: Department of Computer Science, 620 Drillfield Drive <br> 
	1140 Torgersen Hall, Blacksburg VA 24061</p>
	
        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
